{% extends './layout.html' %}

{% block title %}TUKIIII{% endblock %}

{% block header %}
<h1>Carga de usuario</h1>
<h2>    </h2>
<h3>Ingrese los datos</h3>
{% endblock %}

{% block body %}
    <form method="post">
        <label for="text" style="display: block;">Nombre</label>
        <input type="text" style="display: block;">
        <label for="text" style="display: block;">Apellido</label>
        <input type="text" style="display: block;"> <br>
        <label for="text" style="display: block;">DNI</label>
        <input type="text" style="display: block;"> <br>
        <label for="text" style="display: block;">Género como figura en DNI</label>
        <input type="text" style="display: block;"> <br>
        <label for="mail" style="display: block;">Correo electrónico</label>
        <input type="mail" style="display: block;"> <br>
        <label for="obra_social">Obra Social:</label>
        <select name="obra_social" id="obra_social">
            {% for obra in obras_sociales %}
                <option value="{{ obra }}">{{ obra }}</option>
            {% endfor %}
        </select>
        <br>
        <button><a href="" style="display: block;">Envíar</a></button> <br>
    </form>
{% endblock %}