<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cargar Turno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='crud.css') }}">
</head>
<body>
    <div class="container">
        <h2 class="h2azul">Cargar nuevo turno</h2>
        <form action="{{ url_for('admin.turnocliente') }}" method="post">
            <label>Nombre completo:</label>
            <span>{{ nombre }}</span>
            <input type="hidden" name="user_nombre" value="{{ nombre }}"><br>

            <label>Obra Social:</label>
            <span>{{ obra_social }}</span>
            <input type="hidden" name="tipo" value="{{ obra_social }}"><br><br>

            <label>Fecha del turno:</label>
            <input type="date" name="user_fecha" required><br>

            <label for="especialidades">Especialidades</label>
            <select name="especialidades" id="especialidades" required>
                {% for especialidad in especialidades %}
                    <option value="{{ especialidad }}">{{ especialidad }}</option>
                {% endfor %}
            </select>
            <br><br>

            <button type="submit">Guardar turno</button>
        </form>
    </div>
    
</body>
</html>