<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='crud.css') }}">
</head>
<body>
    <div class="container">
        <a href="/">Regresar a interfaz recepcionista</a>
        <h2>
            Interfaz paciente
        </h2>
        <div>
            <form action="">
                <p>
                    <label for="name">Nombre completo:</label>
                    <input type="text" id="name"
                    name="user_name">
                </p>
                <p>
                    <label for="edad">Edad:</label>
                    <input type="number" id="edad" name="user_age" min="1" max="100" required>
                </p>
                <p>
                    <label for="text">Correo electronico:</label>
                    <input type="text" id="mail" name="user_mail">
                </p>
                <p>
                    <label for="dni">DNI:</label>
                    <input type="number" id="dni"
                    name="user_dni">
                </p>
                <p>
                    <label for="telefono">Numero de telefono:</label>
                    <input type="number" id="numtelefono"
                    name="user_phonenumber">
                </p>
                <p>
                    <label for="Obra social">Obra social:</label>
                    <select id="obraSocial" name="user_obraSocial">
                        <option value="Eleccion">Elija su opcion</option>
                        <option value="pami">PAMI</option>
                        <option value="OSDE">OSDE</option>
                        <option value="IOMA">IOMA</option>
                        <option value="LuisPasteur">Luis Pasteur</option>
                        <option value="Omint">Omint</option>
                        <option value="Medife">Medifé</option>
                        <option value="Galeno">Galeno</option>
                        <option value="noTener">No tengo</option>
                    </select>
                </p>
                <button class="btnForm" type="submit">Enviar formulario</button>
            </form>
        </div>
    </div>
</body>
</html>