<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h2>Nuevo Turno</h2>
        <form method="post">
            Nombre: <input type="text" name="nombre"><br>
            Día: <input type="text" name="dia"><br>
            Horario: <input type="text" name="horario"><br>
            <input type="submit" value="Guardar">
        </form>

    </main>
</body>
</html>