<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica Hornero</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="h1verde">Lista de pacientes  </h1>
        <a class="btn" href="{{ url_for('clientes.nuevo_paciente') }}">Cargar nuevo paciente</a>
        <a class="btn" href="{{ url_for('clientes.buscar_paciente') }}">Buscar paciente</a>
        <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr class="tableverde">
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Género</th>
                <th>Obra social / Particular</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
            <tr>
                <td>{{ paciente["dni"] }}</td>
                <td>{{ paciente["nombre"] }}</td>
                <td>{{ paciente["apellido"] }}</td>
                <td>{{ paciente["email"] }}</td>
                <td>{{ paciente["genero"] }}</td>
                <td>{{ paciente["obra_social"] if paciente["obra_social"] else "Particular" }}</td>
                <td>
                    <a class="btnDelete btn-eliminar" href="{{ url_for('clientes.eliminar', dni=paciente['dni']) }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table><br>
        <p><a href="{{ url_for('admin.logout') }}">Cerrar sesión</a></p>
    </div>
    <script src="{{ url_for('static', filename='js/confirmacion.js') }}"></script>
</body>
</html>