{% extends 'base.html' %}

{% block head %}
    <title>Carga de Usuario</title>
{% endblock %}

{% block content %}
<div class="registro">
    <h1 class="titulos">Carga de usuario</h1>
    <h3 class="titulos">Ingrese los datos</h3>

    <form method="post">
        <input type="text" name="nombre" placeholder="Nombre" required><br><br>
        <input type="text" name="apellido" placeholder="Apellido" required><br><br>
        <input type="text" name="dni" placeholder="DNI" required><br><br>
        <input type="text" name="genero" placeholder="Género" required><br><br>
        <input type="email" name="email" placeholder="Correo electrónico" required><br><br>
        <label for="obra_social">Obra Social</label>
        <select name="obra_social" required>
            {% for obra in obras_sociales %}
                <option value="{{ obra }}">{{ obra }}</option>
            {% endfor %}
        </select><br><br>

        <br><button type="submit" class="btn">Enviar</button>
    </form>
{% endblock %}
</div>



