<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clinica Hornero - Inicio de sesión</title>

</head>
<body>

    <h2>Inicio de sesión</h2>

    <form method="POST">
        <label for="usuario">Usuario</label>
        <input type="text" name="usuario" required placeholder="usuario"><br><br>

        <label for="contrasenia">Contraseña</label>
        <input type="password" name="contrasenia" required placeholder="contraseña"><br><br>

        <button type="submit">Ingresar</button>
    </form>
    {% if mensaje %}
    <br>
    <p>{{ mensaje }}</p>
    {% endif %}
    <br>
    <p>¿No tenés una cuenta? <a href="{{ url_for('registro') }}">Registrate acá</a></p>



</body>
</html>




