<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica</title>
</head>
<body>
    <header>
        <h1>Ingrese usuario y contraseña determinados</h1>
    </header>
    <form method="POST">
        <label for="text" style="display: block; align-items: center;">Usuario</label>
        <input type="text" name ='usuario' style="display: block; align-items: center;">
        <label for="text" style="display: block; align-items: center;">Contraseña</label>
        <input type="text" name='contrasenia' style="display: block; align-items: center;"> <br>
        <a href="layout.html" src=><button type="submit" display: block; align-items: center;">Ingresar</button></a>
</body>
</html>